<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- Form (style it as you want) -->
    <form method="POST">
      {% csrf_token %} {{ form.as_p }}
      <button type="submit">
        Add
      </button>
    </form>
    <!-- Previous Todos (style it as you want) -->
    <div>
      {% for todo in todos %}
      <div>
        <h3>todo.title</h3>
        <ul>
          {% for item in todo.get_text %}
          <li>{{ item }}</li>
          {% endfor %}
        </ul>
      </div>
      {% endfor %}
    </div>
  </body>
</html>
